body{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 10px;
	padding-left: 10px;
}

.category{
	width: 100%;
	border: 1px solid black;
	padding: 2px;
	background: #a5a5bd;
}

table{
	background: white;
}

th, td{
	font-size: 13px;
	border: 1px solid gray;
	padding-left: 2px;
	padding-right: 2px;
}

h5{
	margin-top: 5px;
	margin-bottom: 5px;
}