.containerz{
	display: flex;
	flex-direction: column;
}

.login{
	padding-top: 20px;
	padding-right: 50px;
}

.formborder{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.navbar{
	padding-left: 50px;
    padding-right: 50px;
}

/* .navbarleft{
	width: 50vw;
} */

.navbarright{
	position: absolute;
	right: 0;
}

.navbar > ul{
	display: flex;
	flex-direction: row;	
}

ul > li{
	margin-right: 35px;
}

.header{
	color: red;
}