.header{
	color: green;
}

body{
	padding: 50px;
}

.city{
	display: flex;
	flex-direction: row;
	margin-top: 5px;
	margin-bottom: 5px;
}

p{
	margin-top: 5px;
	margin-bottom: 5px;
}
 
 .resultspage{
 	display: flex;
 	flex-direction: row;
 }
 
 .allresults{
 	display: flex;
 	flex-direction: column;
 }
 
#map {
  	height: 600px;
  	width: 50%;
 }
