.header{
	color: green;
}

.content{
	padding-left: 50px;
	padding-right: 50px;
}

.city{
	display: flex;
	flex-direction: row;
	margin-top: 5px;
	margin-bottom: 5px;
}

p{
	margin-top: 5px;
	margin-bottom: 5px;
}
 
 .resultspage{
 	display: flex;
 	flex-direction: row;
 }
 
 .allresults{
 	display: flex;
 	flex-direction: column;
 }
 
#map {
  	height: 600px;
  	width: 50%;
  	/* z-index: -1; */
 }

 .navbar{
	padding-left: 50px;
    padding-right: 50px;
    position: -webkit-sticky;
  	position: sticky;
  	top: 0;
}

.navbar{
	background-color: #e0eabf;
	z-index: 1;
}

.navbarright{
	position: absolute;
	right: 0;
}

.navbar > ul{
	display: flex;
	flex-direction: row;	
}

ul > li{
	margin-right: 35px;
}

li.nav-item:hover > .dropdown-menu{
	display: block;
}

.navbar-expand-lg .navbar-nav {
	padding-right: 10px;
}

.navbar .navbar-nav .nav-link:hover {
	color: green;
}

.navbar .navbar-nav .nav-link{
	color: black;
	letter-spacing: 1.5px;
}

.dropdown-toggle::after {
    display:none;
}

img{
	height: 50px;
}