.header{
	color: green;
	font-family: 'Raleway', sans-serif;
	font-size: 45px;
	font-weight: bold;
	padding-top: 50px;
	padding-bottom: 50px;
}

.content{
	padding-left: 50px;
	padding-right: 50px;
}

p{
	margin-top: -4px;
	margin-bottom: -4px;
}

.storename{
	text-decoration: underline;
}

.city{
	display: flex;
	flex-direction: row;
	margin-top: 5px;
	margin-bottom: 5px;
}

.city > p{
	margin-right: 5px;
}
 
 .textme{
 	font-weight: bold;
 	font-size: 14px;
 }
 
 i{
 	margin-right: 5px;
 	margin-top: 10px;
 }
 
 input[type=submit]{
 	height: 25px;
 	margin-top: 10px;
 }
 
 .result{
 	/* border-top: 1px solid #cecbcb; */
 	padding-top: 20px;
 	padding-bottom: 30px;
 }
 
 .result > h3{
 	color: green;
 }
 
 .resultspage{
 	display: flex;
 	flex-direction: row;
 }
 
 .allresults{
 	display: flex;
 	flex-direction: column;
 }
 
#map {
  	height: 600px;
  	width: 50%;
 }

 .navbar{
	padding-left: 50px;
    padding-right: 50px;
    position: -webkit-sticky;
  	position: sticky;
  	top: 0;
}

.navbar{
	background-color: #e0eabf;
	z-index: 1;
}

.navbarright{
	position: absolute;
	right: 0;
}

.navbar > ul{
	display: flex;
	flex-direction: row;	
}

ul > li{
	margin-right: 35px;
}

li.nav-item:hover > .dropdown-menu{
	display: block;
}

.navbar-expand-lg .navbar-nav {
	padding-right: 10px;
}

.navbar .navbar-nav .nav-link:hover {
	color: green;
}

.navbar .navbar-nav .nav-link{
	color: black;
	letter-spacing: 1.5px;
}

.dropdown-toggle::after {
    display:none;
}

img{
	height: 50px;
}

.window{
	margin-top: 5px;
}

#firstHeading{
	font-size: 20px;
	margin-bottom: 5px;
}