<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
		<title>Results</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link href="../static/css/results.css" th:href="@{/css/results.css}" rel="stylesheet" />
		
	</head>
	
	<body>
		<h1 class="header" th:text="${heading}"/>
		
		<div class="resultspage">
			<div class="allresults">
				<div class="result" th:each="store: ${stores}">

						<h3 th:text="${store.name}"/>
						<p th:text="${store.street}"/>
						<div class="city">
							<p th:text="${store.city}"/>
							<p th:text="${store.state}"/>
							<p th:text="${store.zipcode}"/>
						</div>
						<p th:text="${store.phone}"/>
						<p th:text="${store.info}"/>
						<a th:target="_blank" th:href="${store.website}">Website</a>
						<a th:target="_blank" th:href="@{https://www.google.com/maps/dir/?api=1&destination={location}+Seattle+WA(location=${store.street})}">Directions</a>

				</div>
			</div>
			<div id="map"></div>
		</div>
		
		<script th:inline="javascript">
		function initMap() {
				
			  //anchor location
			  var anchor = {lat: 47.685880, lng: -122.337290}
			  var map = new google.maps.Map(
			      document.getElementById('map'), {zoom: 12, center: anchor});
			  
			  //adding markers
			  var local1 = {lat: 47.665646, lng: -122.380476};
			  var marker1 = new google.maps.Marker({position: local1, map: map});
			  
			  var local2 = {lat: 47.549071, lng: -122.329254};
			  var marker2 = new google.maps.Marker({position: local2, map: map});
			  
			  var local3 = {lat: 47.665585, lng: -122.317619};
			  var marker3 = new google.maps.Marker({position: local3, map: map});
			  
			  var local4 = {lat: 47.661230, lng: -122.338781};
			  var marker4 = new google.maps.Marker({position: local4, map: map});
			  
			  var local5 = {lat: 47.666433, lng: -122.319032};
			  var marker5 = new google.maps.Marker({position: local5, map: map});
			  
			  var local6 = {lat: 47.687425, lng: -122.342213};
			  var marker6 = new google.maps.Marker({position: local6, map: map});
			  
			  var local7 = {lat: 47.722320, lng: -122.291804};
			  var marker7 = new google.maps.Marker({position: local7, map: map});
		  
			  //adding info windows
			  var contentString1 = '<div id="content">'+'<div id="siteNotice">'+'</div>'+
			            '<h1 id="firstHeading" class="firstHeading">Ballard Food Bank</h1>'+
			            '<div id="bodyContent">'+
			            '<p>5130 Leary Ave NW</p>'+ 
			            '<p>206-789-7800</p>' + 
			            '</div>'+
			            '</div>';

		        var infowindow1 = new google.maps.InfoWindow({
		          content: contentString1
		        });
		        marker1.addListener('click', function() {
		          infowindow1.open(map, marker1);
		        });
		        
		        var contentString2 = '<div id="content">'+'<div id="siteNotice">'+'</div>'+
	            '<h1 id="firstHeading" class="firstHeading">St. Vincent De Paul</h1>'+
	            '<div id="bodyContent">'+
	            '<p>5950 4th Ave S</p>'+ 
	            '<p>206-767-6449</p>' + 
	            '</div>'+
	            '</div>';

		        var infowindow2 = new google.maps.InfoWindow({
		          content: contentString2
		        });
		        marker2.addListener('click', function() {
		          infowindow2.open(map, marker2);
		        });
			}
		</script>
		
		<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDY4Cy_ubPYVZrVyzU3Ylrxg63bwe0xZn8&callback=initMap">
		</script>
	</body>
</html>