<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
		<title>Homepage</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link href="../static/css/results.css" th:href="@{/css/results.css}" rel="stylesheet" />
		<link href="../static/css/homepage.css" th:href="@{/css/homepage.css}" rel="stylesheet" />
	</head>
	
	<body>
		<div class = "container">
			<div class = "main">
				<h1 class="header">North Seattle Resources</h1>
			</div>
			<div class = "sidebar">
				<h3>Home</h3>
				<a href="/">About</a><br>
				<h3>Food</h3>
				<a href="/foodPantries">Food Pantries</a><br>
				<a href="/foodvouchers">Food Vouchers</a>
				<h3>Housing</h3>
				<a href="/transitional">Transitional</a><br>
				<a href="/housingvoucher">Housing Vouchers</a>
				<h3>Clothing</h3>
				<a href="/clothing">Clothing</a>
				<h3>Healthcare</h3>
				<a href="/clinic">Clinics</a>
				<h3>Admin</h3>
				<form action="#" th:action="@{/login}" th:object="${login}" method="post">
			       	<p><input type="text" th:field="*{loginname}" th:placeholder="username" /></p>
			       	<p><input type="text" th:field="*{loginpassword}" th:placeholder="password" /></p>
			        <p><input type="submit" value="Login" /></p>
			    </form>
			</div>
		</div>		
	</body>
</html>