<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
		<title>Homepage</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link href="../static/css/foodPantries.css" th:href="@{/css/foodPantries.css}" rel="stylesheet" />
	</head>
	
	<body>
		<h1 class="header">North Seattle Resources</h1>
		<h3>Food</h3>
		<a href="/foodPantries">Food Pantries</a><br>
		<a href="/foodvouchers">Food Vouchers</a>
		<h3>Housing</h3>
		<a href="/transitional">Transitional</a>
		<a href="/housingvoucher">Housing Vouchers</a>
	</body>
</html>